<div class="m-3">
  <h2>Stupid Coaching</h2>
  <div class="border-start border-5">
    <p class="fw-bold ms-3"><%=@question%></p>
    <p class="ms-3">-You</p>
  </div>

  <div class="border-start border-5 div-yellow">
    <p class="fw-bold ms-3"><%=@answer%></p>
    <p class="ms-3">-Your Coach</p>
  </div>
  <p><%= link_to "Ask a new question", "/ask" %></p>
</div>
